extends layout

block layout-content
    div.View.WelcomeView
        h1.Banner Test App
        div.NavButtons
            if isAuthenticated
                a(href="/user")
                    div.NavButton Just dive in!
            else
                a(href="/login")
                    div.NavButton Log in
        div.Message
            div.Title
                h3 Title here
                h1 Main Title
            span.Details Search for user
        div.freeChamps(class="COTWGrid")

            if ids != null
                each id in ids
                    div.champion(class="champCard")
                        a(href="/champion")
                            img(class="champImg", src=id.sqImg , alt=id.name)
                            p= id.name